# version: '3.8'

services:
  react-app:
    build:
      context: .
      dockerfile: Dockerfile # added
    container_name: react-app
    restart: unless-stopped
    ports:
      - "80:80"   
      - "443:443"  
    volumes:
      # - ./nginx/nginx.conf:/etc/nginx/nginx.conf
      - ./nginx/ssl:/etc/nginx/ssl
      # - ./build:/usr/share/nginx/html #added
    networks:
      - frontend

networks:
  frontend:
    driver: bridge
