@import "tailwindcss";

body{
    background-color: var(--background);
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    background: transparent;
    border-radius: 10px;
}
::-webkit-scrollbar-thumb {
    background: var(--primary-blue);
    border-radius: 10px;
}
@media screen and (max-width: 768px) {
    ::-webkit-scrollbar {
        width: 5px;
        height: 5px;
    }
}